<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Robot World</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/robots/new">New Robot</a></li>
      <li><a href="/robots">Robot Directory</a></li>
      <li><a href="/">Dashboard</a></li>
    </ul>
  </div>
</nav>

<form class="form-horizontal" action='/robots/<%= @robot.id %>' method="POST">
  <div class="col-md-3">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">Name</label>
    <input type="text" name="robot[name]" class="form-control" id="name" placeholder="Enter Name" value='<%= @robot.name %>'>
    <small class="text-muted">We'll never share or sell your robot info to any third parties.</small><br><br>

    <label for="city">City</label>
    <input type="text" name="robot[city]" class="form-control" id="city" placeholder="Enter City" value='<%= @robot.city %>'><br>

    <label for="avatar">Avatar</label>
    <input type="text" name="robot[avatar]" class="form-control" id="avatar" placeholder="Enter Avatar Character-Code" value='<%= @robot.avatar %>'>
    <small class="text-muted">Visit <a href="https://robohash.org".>robohash</a> and add your character-code to the path to preview your robot!</small><br><br>
    <a class="btn btn-warning btn-block" href="/robots/<%= @robot.id %>" role="button">Cancel</a>
  </div>

  <div class="col-md-offset-1 col-md-3">
    <label for="birthdate">Birthdate</label>
    <input type="date" name="robot[birthdate]" class="form-control" id="birthdate" placeholder="Enter Birthdate" value='<%= @robot.birthdate %>'><br><br><br>

    <label for="date_hired">Date Hired</label>
    <input type="date" name="robot[date_hired]" class="form-control" id="date_hired" placeholder="Enter Hire Date" value='<%= @robot.date_hired %>'><br>

    <label for="department">Department</label>
    <input type="text" name="robot[department]" class="form-control" id="department" placeholder="Enter Department" value='<%= @robot.department %>'><br><br><br>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>

<div class="col-md-offset-1 col-md-4">
  <img id="randorobo" src="https://robohash.org/<%= @robot.avatar %>" alt="randorobo"/>
  <p style="text-align: center; padding-top: 4px;"><small class="text-muted">This is your current avatar.</small></p>
</div>
