<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Robot World</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/robots/new">New Robot</a></li>
      <li><a href="/robots">Robot Directory</a></li>
      <li><a href="/">Dashboard</a></li>
    </ul>
  </div>
</nav>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Avatar</th>
        <th>Birthdate</th>
        <th>Hire Date</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <% @robots.each do |robot| %>
      <tr>
        <th scope="row">
          <a href="/robots/<%= robot.name %>"><%= robot.name  %></a>
        </th>
        <td><%= robot.city %></td>
        <td><img class="avatar" src='https://robohash.org/<%= robot.avatar %>'></td>
        <td><%= robot.birthdate %></td>
        <td><%= robot.date_hired %></td>
        <td><%= robot.department %></td>
        <td><a href="/robots/<%= robot.name %>/edit">Edit</td>
        <td><form action="/robots/<%= robot.name %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">      <input type="submit" value="Delete">
      </form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
