<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Robot World</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/robots/new">New Robot</a></li>
      <li><a href="/robots">Robot Directory</a></li>
      <li><a href="/">Dashboard</a></li>
    </ul>
  </div>
</nav>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="well">
      <div class="row">
        <h1 class ="col-md-offset-2"><%= @robot.name %></h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <table class="col-md-offset-2 table table-nonfluid" style="width: auto;">
            <tbody>
              <tr>
                <th scope="row">City:</th>
                <td><%= @robot.city %></td>
              </tr>

              <tr>
                <th scope="row">Birthdate:</th>
                <td><%= @robot.birthdate %></td>
              </tr>

              <tr>
                <th scope="row">Hire Date:</th>
                <td><%= @robot.date_hired %></td>
              </tr>

              <tr>
                <th scope="row">Department:</th>
                <td><%= @robot.department %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <img class='profile-pic' src='https://robohash.org/<%= "#{@robot.avatar}" %>'>
        </div>
      </div>
    </div>
  </div>
</div>
